*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background: #fff;
}

.section {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 70rem;
  height: 40rem;
  background-clip: border-box;
  overflow: hidden;
}

.structure {
  width: 100%;
  height: 100%;
  border: 5px solid salmon;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background: url(./image/hero.svg);
  object-fit: contain;
  /* z-index: 1; */
}

.blur {
  filter: blur(5px);
}

/* Navbar */

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./image/navbar.svg');
  /* background: rgb(104, 104, 104); */
  position: relative;
  z-index: 1;
  box-shadow: 3px 3px 12px 3px rgba(174, 174, 174, 1);
  padding-right: 80px;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border-color: rgb(55, 55, 55);
  color: white;
  background: rgb(110, 110, 110);
  cursor: pointer;
}
.btn:hover {
  background: rgb(79, 78, 78);
}
.nav-links {
  width: 400px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.link-btn {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #fefeff;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  border-radius: 10px;

  margin-left: 30px;
  padding: 4px 10px;
  /* justify-content: space-between; */
}
.nav-logo-icon {
  font-size: 50px;
  color: rgb(199, 198, 198);
}

.logo-text {
  margin: 10px 0 0 15px;
  font-size: 32px;
  color: rgb(247, 241, 241);
}

.signin-btn {
  width: 110px;
  padding: 7px;
}

/* Header */

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 5px solid #d84602;
  background: hsl(180, 79%, 96%);
}

.logo {
  display: flex;
}

.logo span {
  margin: 8px 0 0 10px;
  font-size: 25px;
  font-weight: bold;
}

.options {
  position: relative;
  display: inline-block;
  border: 4px solid #282c34;
  border-radius: 15px;
  padding: 3px;
}

.options span {
  font-size: 25px;
}

.dropdown-options {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 8px;
}

.dropdown-options p {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-options p:hover {
  background: #b0c4eb;
}

.options:hover .dropdown-options {
  display: block;
}

/* Name list */

.description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}
.sl_no,
.name,
.userName,
.email,
.action {
  padding: 5px;
  border: 2px solid salmon;
  border-color: transparent transparent salmon salmon;
  display: flex;
  justify-content: center;
  max-width: 100%;
  /* overflow-x: auto; */
  overflow-wrap: break-word;
}

.email {
  text-transform: lowercase;
}
.sl_no {
  border-color: transparent transparent salmon transparent;
}

.edit-container {
  width: 40rem;
  height: 25rem;
  border: 5px solid black;
  border-radius: 15px;
  position: absolute;
  display: block;
  grid-template-rows: 40px auto 40px;
  margin: 10% auto 0;
  z-index: 2;
  background: #b0d8e2;
}

.edit-container .head {
  background: rgba(253, 0, 0, 0.2);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.head .edit-logo {
  width: 90px;
  border: 2px solid blue;
  padding: 0 10px;
  border-left: transparent;
  border-right: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head div:nth-child(2) {
  font-size: 30px;
  cursor: pointer;
}

.content {
  width: 70%;
  /* height: 15rem; */
  display: flex;
  flex-direction: column;
  margin: 50px 30px 30px 40px;
}

.entry {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.entry input {
  height: 30px;
  width: 250px;
  padding-left: 5px;
}

.edit-container .footer {
  display: flex;
  justify-content: end;
}

.edit-container .footer button {
  width: 100px;
  height: 25px;
  margin-right: 10px;
  right: 5px;
  background: rgb(253, 132, 76);
  cursor: pointer;
}
